
<div id="template1">




    <strong>sdfsdf {{Title}}</strong>


    <div id="content">
        <div class="row">
            <div class="details">
                <div class="col-sm-4 col-md-3">
                    <div id="project-info">
                        <div class="project-type"></div>
                        <dl>
                            <dt>Affiliates</dt>
                            <dd>{{Affiliates}}</dd>
                            {{#ContactPerson}}
                            <dt>Contact Person</dt>
                            <dd>{{ContactPerson}}</dd>
                            {{/ContactPerson}}
                        </dl>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
