body.admin {
  background-color: #312f33;
}
body.admin .content {
  margin-bottom: 40px;
  padding: 20px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  background-color: #fff;
}
body.admin .nav-sidebar > li > a {
  color: #E8DDDD;
  font-size: 18px;
  -webkit-transition-duration: 100ms;
  transition-duration: 100ms;
}
body.admin .nav-sidebar > li > a:hover {
  color: #AE7C7C !important;
}
body.admin .category-select {
  display: none;
}
body.admin > .container-fluid {
  margin-top: 20px;
}
body.admin .btn-create {
  display: inline-block;
  margin-bottom: 20px;
}
body.admin .gallery-photos .item {
  float: left;
  width: 300px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin-bottom: 10px;
  border: 1px solid #d4d4d4;
  background: #f3f3f3;
  border-radius: 2px;
}
body.admin .gallery-photos .item textarea {
  width: 100%;
}
body.admin .gallery-photos .item img {
  width: 100%;
}
body.admin .gallery-photos ul.gallery-photos {
  list-style: none;
}
body.admin .gallery-photos .photo-actions {
  margin: 20px;
}
body.admin .gallery-photos .photo-text {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.admin-bar {
  width: 100%;
  height: 40px;
  padding: 10px;
  background-color: #1F8DAD;
  color: #8FDFF0;
  border-bottom: 1px solid #fff;
}
.admin-bar .user {
  float: right;
  min-width: 150px;
}
.admin-bar .user span {
  float: left;
  margin-right: 10px;
}
.admin-bar .user .username,
.admin-bar .user #logoutForm {
  float: left;
  margin-right: 10px;
  color: #fff;
}
.admin-bar .user .logout {
  color: #76A3B0;
  font-size: 13px;
  text-transform: lowercase;
  padding: 4px;
  background: #fff;
  border-radius: 2px;
  margin-left: 20px;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
}
.project.admin {
  padding-top: 0;
}
.project.admin .navbar-fixed-top {
  position: relative;
}
.navbar-fixed-top.admin {
  top: 40px;
}
