/* Variables */

@primary-color: #274751;
@primary-color-transparent: rgba(39, 71, 81, 0.85);

@secondary-color: #3d90a7;

@buttonColor: #3583B3;
@contentBgColor: #D5E9F0;


html, body {
    width: 100%; height: 100%;
}

.frontpage #wrap > .row {
    width: 100%; height: 100%;
}

#map-container, #map-canvas {
    min-height: 100%;
    height: 100%;
    width: 100%;
}
#wrap {
    max-width: 1200px;
    min-height: 100%;
    height: 100%;
    margin: 0 auto;
}
.wrap {
    max-width: 1200px;
    margin: 0 auto;
}
/************************************
    Basic setup
*************************************/

body {
    font-weight: 300;
    color: #4F4F4F;
    &.admin { padding-top: 75px; }
    &.frontpage {
        position: relative;
        height: 100%;
    }
}

h2 { margin-bottom: 20px; }
a {
    cursor: pointer;
    &:hover {text-decoration: none;}
    color: #374351;
}
ul {list-style: none; }

/************************************
    Top Header
*************************************/

#top-controls {
    padding-top: 13px;
    .about {
        display: inline-block;
        float: left;
        padding: 5px 10px;
        cursor: pointer;
        font-weight: 400;
        font-size: 16px;

    }
    #select-language {
        a:first-child {border-right: none;}
        a {
            float: left;
            padding: 5px 10px;
            text-transform: uppercase;
            font-weight: 400;
            font-size: 16px;
            &:hover {
                text-decoration: none;
            }
        }
    }
    form.lang {
        display: block;
        float: left;
        #select-language {
            display: block;
        }
    }
    .btn-back {
        display: block;
        color: #fff;
        text-transform: uppercase;
        border: 1px solid #fff;
        padding: 5px 10px;
        float: left;
        margin-right: 20px;
        i {
            margin-right: 10px;
        }
        &:hover {
            background: #32373d; 
        }
    }

    
}

.navbar {
    background-color: rgba(255,255,255,0.85); 
    margin: 0;
    padding: 0;
    border: 0;
    border-bottom: 1px solid @brand-primary; 
    .navbar-header {
        margin-left: 0;
        .navbar-brand {
            font-size: 34px;
            font-weight: 300;
            display: block;
            margin-left: 0px !important;
            margin-right: 20px;

            .transition(background 200ms linear);
            &:hover { .transition(background 200ms linear); }
        }
        .slogan {
            position: relative;
            span {
                display: block;
                color: #374351;
                font-size: 20px;
                margin-top: 20px;
            }
        }
    }
}

/************************************
    Main Content
*************************************/

#about { // modal
    width: 100%;
    height: 0;
    background-color: rgba(0,0,0,0.7);
    z-index: 2000;
    padding-top: 150px;
    color: #FDF5E6;
    position: fixed;
    visibility: hidden;
    top: 0;
    left: 0;
    overflow: hidden;

    &.open {
        height: 100%;
        visibility: visible;
        -webkit-transition: height 180ms linear;
        -moz-transition: height 180ms linear;
        -ms-transition: height 180ms linear;
        -o-transition: height 180ms linear;
        transition: height 180ms linear;
    }

    .about-content {
        padding: 20px 40px;
        background: #2D7B91;
        position: relative;
        z-index: 2001;

        .fa-close {
            position: absolute;
            right: 20px;
            top: 10px;
            cursor: pointer;

            &:hover {
                opacity: 0.7;
            }
        }
    }
}

.close-project, span.nav-close {
    position: relative;
    display: inline-block;
    width: 37px;
    height: 37px;
    overflow: hidden;
    cursor: pointer;
    z-index: 100;
    &:hover {
        &::before, &::after {
            background:#fff;
        }
    }
    &::before, &::after {
        content: '';
        position: absolute;
        height: 2px;
        width: 100%;
        top: 50%;
        left: 0;
        margin-top: -1px;
        background: #fff;
    }

    &::before {
        .rotate(45deg);
    }
    &::after {
        .rotate(-45deg);
    }
    &.big {
        .scale(3);
    }
    &.hairline {
        &::before, &::after {
            height: 1px;
        }
    }
    &.pointy {
        &::Before, &::after {
            width: 200%;
            left: -50%;
        }
    }
}

span.nav-close {
    &:hover {
        &::before, &::after {
            background: @brand-primary;
        }
    }
    &::before, &::after {
        background: @brand-primary;
    }
}

#content {
    margin: 0 80px 40px 80px;
}
.admin .container {
    padding-bottom: 40px;
}

.infowindow {
    width: 150px;
    .marker-image { margin-bottom: 10px; }
    h2 { font-size: 16px; }
}


/* Single page project */

#projectContainer {
    position: fixed;
    left: -2500px;
    top: 55px;
    width: 100%;
    height: 100%;
    overflow-y: auto;
    .box-sizing(border-box);
    z-index: 100;
    background-color: rgba(0,0,0,0.65);
    .transition(all 250ms ease-in-out);
    .clearfix;

       
    .container-fluid {
        padding: 20px;
            
        .top-header {
            height: 40px;
            position: relative;
            .project-category {
                span {
                    line-height: 40px;
                    font-size: 18px;
                    color: #82cdc4;
                    margin-right: 10px;

                    &.cat {
                        color: #fff;
                    }
                }
            }
            .close-project {
                &:hover {
                    &:before, &:after {
                        background: #CF4446;
                    }
                }
            }
        }

        #project-info {
            padding: 20px;
            background: #fff;
            border: 1px solid #fff;
            h3 {
                line-height: 24px;
                padding-bottom: 5px;
                font-size: 15px;
                text-transform: uppercase;
                margin-top: 0;
                //border-bottom: 1px dotted #364251;

            }
            .project-type {
                text-transform: uppercase;
                margin-bottom: 20px;
                color: @brand-primary;
                font-weight: 600;
                span {
                    margin-right: 15px;
                    opacity: 0.6;
                }
            }
            dl {
                font-size: 14px;
                dt {
                    font-weight: 300;
                    background-color: #000;
                    color: #fff;
                    margin-bottom: 8px;
                    text-transform: uppercase;
                    padding-left: 5px;
                }
                dd {
                    font-size: 12px;
                    font-weight: 300;
                    margin-bottom: 10px;
                    //color: rgba(255,255,255,0.7);
                }
            }
            .fa-file-text-o {
                font-size: 80px;
                margin-bottom: 10px;
                cursor: pointer;
                padding: 8px 20px;
                border-radius: 4px;
                //background-color: #4D5E63;
                margin-bottom: 20px;
                &:before {
                    //color: #f8e7e7;
                }
            }
        }

        .main-content {
            height: 100%;
            margin-bottom: 60px;
            padding: 20px 20px 50px 20px;
            background: #fff;
            position: relative;

            #grid-gallery {
                margin-bottom: 30px;
                background: #DAE8E6;
            }

            #project-description {
                background: #DAE8E6;

                .project-title {
                    color: #242F2D;
                    background: #82CDC4;
                    display: inline-block;
                    padding: 10px;
                }
                .description {
                    padding: 10px;
                }
            }
            
            .social-media {
                position: absolute;
                right: 20px;
                bottom: 10px;
                width: 100%;
            }
        }
        
    }
    .social-media {
        .sm {
            float: left;
            margin-right: 25px;
        }
    }
    &.open {
        left: 0;
    }

}

#preload {
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -64px;
    margin-top: -64px;
    z-index: 200;
    border-radius: 4px;
    background: #374351;
    border: 1px solid #fff;
    img {
        .border-radius(100px);
    }
}

/************************************
    Main Content - Project
*************************************/

body.project {
    padding-top: 100px;
    background: #3583B3; 

    #project-header {
        margin-bottom: 20px;
        position: relative;
        .clearfix;
        .project-title {
            font-size: 32px;
            color: #fff;
        }
    }

    .col-xs-12 {
        .clearfix;
    }

    #content {
        margin: 0;
        padding: 15px;
        padding-top: 25px;
        background-color: #fff;
        margin-bottom: 40px;
        -webkit-box-shadow: 0px 0px 70px 44px rgba(0,0,0,0.125);
        box-shadow: 0px 0px 70px 44px rgba(0,0,0,0.125);
        border: 1px solid #fff;
    }
    .navbar {
        background: #fff;
        box-shadow: 5px 2px 3px 2px rgba(0,0,0,0.2);
        .navbar-header {
            margin-left: 0;
            .navbar-brand {
                font-size: 36px;
                font-weight: 300;
            }
        } 
    }

    #top-controls {
        .btn-back {
            background: @buttonColor;
        }
        #select-language a {
            background: @buttonColor;//#DADADA;
            &.selected {
                background: #32373d;
            }
        }
    }
    
    /* ---- .item ---- */
    .item {
      float: left;
      box-sizing: border-box;
    }
    .slideshow .item {
        float: none;
    }
}


#project-description {
    //color: #fff;
    font-size: 15px;
    line-height: 1.5;
    font-weight: 500;
    color: #364251;
    h1 { 
        font-size: 28px;
        margin-top: 0; 
        margin-bottom: 20px;
    }

}

@media (min-width: @screen-md-max) {

    .main-content {
        min-height: 700px;
    }
}

@media (min-width: @screen-xs-max) {
    .close-project-mobile { display: none; }
}

@media (max-width: @screen-sm-max) {

    .navbar .navbar-header .navbar-brand { padding-left: 0; }
    body.project-open #top-controls { display: none; }
    
    #top-controls {
        background: #666666;
        padding-top: 8px;

        div.cs-skin-underline {
            max-width: none;
            margin-bottom: 7px;
        }
        .about, #select-language a { font-weight: 300; }
    }
    #projectContainer .container-fluid { background: transparent; }
    
}

/* tablet */
@media (min-width: @screen-sm-min) and (max-width: @screen-sm-max) {

    .slogan span { float: right; } 

    #top-controls {
        .about, #select-language a { color: #fff; }
    }

}

@media (max-width: @screen-xs-max) {

    .navbar .navbar-header .slogan span { font-size: 14px; }

    #slogan { display: none; }
    .language-select {
        position: fixed;
        top: 17px;
        right: 0;
        width: 200px;
    }
    .close-project-mobile { 
        display: none;
        position: absolute;
        right: -50px;
        top: 13px;
        width: 31px;
        height: 31px;
        &:before, &:after {
            background: #7EC6BF;
        }
        .transition(all 200ms ease-in);

        &.active {
            right: 15px;
        }
    }

    body.project-open {
        .close-project-mobile {
            display: block;
        }

        &.slideshow-active {
            #projectContainer {
                top: 0;
            }

            .navbar {
                display: none;
            }
        }
    }

    #projectContainer {
        padding-top: 0;
        padding-bottom: 40px;
       
        .container-fluid {
            height: 100%;
            padding: 0;
            #projectContent {
                height: 100%;
                overflow-y: auto;
            }

            .top-header {
                padding: 0 20px;
                .close-project {
                    width: 31px;
                    height: 31px;
                    margin-top: 5px;
                    &:before, &:after {
                        background: #7EC6BF;
                    }
                }
            }

            .main-content {
                margin-bottom: 0;
                padding-bottom: 60px;

                .project-title {
                    width: 100%;
                    font-size: 22px;
                    line-height: 28px;
                }
                .social-media {
                    bottom: 20px;
                }
            }
        }

        .slideshow {
            top: 0;
            ul {
                margin-top: 40px;
            }
            nav {
                .nav-next, .nav-prev {
                    padding: 10px;
                    background-color: rgba(255, 255, 255, 0.3);
                }
                .nav-prev {

                }
                .nav-next {}
                .nav-close { top: 2px; }

            }
            
        }
    }
}