@model Xland.Models.PhotoGallery

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_Layout_admin.cshtml";
}

<h2>Delete</h2>

<h3>Ertu viss um að þú viljir eyða myndagallerí?</h3>
<div>
    <hr />
    <dl class="dl-horizontal">
    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Eyða" class="btn btn-default btn-danger" />
            @Html.ActionLink("Aftur í yfirlit", "Index", null, new { @class = "btn btn-default" })
        </div>
    }
</div>
