@{
    Layout = "~/Views/Shared/_Layout_Error.cshtml";
}

<div class="error-page">
    <h1>(404) Síða finnst ekki</h1>

    <h2>Við biðjumst velvirðingar</h2>

    <p>Við fundum ekki síðuna sem þú baðst um á xland.is, þetta getur stafað af eftirfarandi:</p>

    <ul>
        <li>Vefsíðan hefur hugsanlega verið færð annað</li>
        <li>Upplýsingarnar gætu hafa verið fjarlægðar</li>
        <li>Þjónustan gæti hafa verið lögð niður</li>
        <li>Vefslóðin sem þú fylgdir gæti hafa verið rangt skrifuð</li>
    </ul>

    <br />
    <h1>(404) Page not found</h1>
    <h2>Oops! We can't seem to find the page you're looking for.</h2>

</div>




