@{
    Layout = "~/Views/Shared/_Layout_Frontpage.cshtml";
}
<input type="hidden" id="pid" value="@ViewBag.id"/>

<section id="map-canvas"></section>
<script type="text/javascript"
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCe-U-BLvwE6b8biTRNaYPmboqbJhrlhpU&sensor=false">
</script>
