
<div class="col-sm-3 col-md-2 sidebar">
    <ul class="nav nav-sidebar">
        <li>@Html.ActionLink("Verkefni", "Index", "Project")</li>
        <li>@Html.ActionLink("Stofur", "Index", "Studio")</li>
        <li>@Html.ActionLink("Myndagallerí", "Index", "PhotoGallery")</li>
    </ul>
</div>