
<ul class="nav nav-sidebar">
    <li>@Html.ActionLink("Verkefni", "Index", "Project")</li>
    <li>@Html.ActionLink("Stofur", "Index", "Studio")</li>
    <li>@Html.ActionLink("Myndagallerí", "Index", "PhotoGallery")</li>
</ul>
